body {min-width: 300px;}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #23bcc7;
    border-bottom: 8px solid #23bcc7;
    width: 32px;
    height: 32px;
    -webkit-animation: spin 0.5s alternate ease-in-out infinite;
    animation: spin 0.5s alternate ease-in-out infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
